.portfolio-item-individual img {
  margin: 2em 0;
}

.portfolio-item-individual {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
  max-width: 1000px;
  margin: 0 auto;
  text-align: justify;
  border-left: solid 1px var(--clr-accent);
  border-right: solid 1px var(--clr-accent);
  background-color: rgba(211, 211, 211, 0.1);
}

.technology-item {
  margin: 1em 0;
}
